<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203049055648-n0af40stdisih0363tldog2pslog174o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203049055648-n0af40stdisih0363tldog2pslog174o</string>
	<key>API_KEY</key>
	<string>AIzaSyCuAS0zWBc75eb-AxvaTjwLoO3k7usy2cY</string>
	<key>GCM_SENDER_ID</key>
	<string>203049055648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.famuwa.aplikasiMiniFacebook</string>
	<key>PROJECT_ID</key>
	<string>aplikasi-mini-facebook</string>
	<key>STORAGE_BUCKET</key>
	<string>aplikasi-mini-facebook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203049055648:ios:d00d972d3e7e90491fe0c5</string>
</dict>
</plist>